# Directories #
Obj
/obj
/Bin
/bin


# Compiled #
*.obj
*.exe

# Build #
*.exp
*.ncb
*.suo
*.atsuo
*.user
*.pdb
*.sdf
*.opensdf
*.layout
*.depend
*.filters
*.DS_Store
*.log
*.tlog
*.idb
*.autosave


# Extra #

*.atsuo
SneakySnake/Debug
/Debug
SneakySnake/SneakySnake.atsuo